<div class="mx-auto max-w-3xl px-4 py-10"><h1 class="text-3xl font-black">كوبون جديد</h1><div class="mt-6 rounded-3xl bg-white p-6"><%= render "form", promotion: @promotion, coupon: @coupon %></div></div>
